<template>
  <div>
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <label for="month">Intervalo</label>
        <select class="form-control" v-model="year">
          <option v-for="option in yearOptions"
            v-bind:value="option.value"
            v-bind:key="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div v-show="year != null" class="col-md-4">
        <label for="month">Mês</label>
        <select class="form-control" v-model="month">
          <option v-for="option in monthOptions"
            v-bind:value="option.value"
            v-bind:key="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tecnicosTab" aria-controls="tecnicosTab" role="tab" data-toggle="tab">Técnicos</a></li>
      <li role="presentation"><a href="#nocTab" aria-controls="nocTab" role="tab" data-toggle="tab">NOC</a></li>
      <li role="presentation"><a href="#supervisoresTab" aria-controls="supervisoresTab" role="tab" data-toggle="tab">Supervisores</a></li>
    </ul>

    <div id="schedule-table">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tecnicosTab">
          <ScheduleTable
            v-for="(tt, i) in modifiedTimetablesForTech"
            v-bind:key="'schedule_table_'+ i"
            v-show="year != null && month != null"
            v-bind:groupName="groupsByType[1][i].name"
            v-bind:month="month"
            v-bind:year="year"
            v-bind:keys="keys"
            v-bind:timetables="tt"
            v-bind:daysInMonth="daysInMonth[month]"
            v-bind:workersPerDay="workersPerDayForTech[i]"
            v-bind:startDate="scheduleStartDate"/>

          <table class="table table-bordered table-condensed table-fixed">
            <col span="1" class="wide">
            <tbody>
              <tr>
                <td colspan="1">Total de Trabalhadores</td>
                <td v-for="(n, i) in totalWorkersPerDay" :key="'total_workers_' + i">{{ n }}</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="nocTab">
          <ScheduleTable
            v-for="(tt, i) in modifiedTimetablesForNOC"
            v-bind:key="'schedule_table_'+ i"
            v-show="year != null && month != null"
            v-bind:groupName="groupsByType[2][i].name"
            v-bind:month="month"
            v-bind:year="year"
            v-bind:keys="keys"
            v-bind:timetables="tt"
            v-bind:daysInMonth="daysInMonth[month]"
            v-bind:workersPerDay="workersPerDayForNOC[i]"
            v-bind:startDate="scheduleStartDate"/>

        </div>
        <div role="tabpanel" class="tab-pane" id="supervisoresTab">
          <ScheduleTable
            v-for="(tt, i) in modifiedTimetablesForSupervisor"
            v-bind:key="'schedule_table_'+ i"
            v-show="year != null && month != null"
            v-bind:groupName="groupsByType[3][i].name"
            v-bind:month="month"
            v-bind:year="year"
            v-bind:keys="keys"
            v-bind:timetables="tt"
            v-bind:daysInMonth="daysInMonth[month]"
            v-bind:workersPerDay="workersPerDayForSupervisores[i]"
            v-bind:startDate="scheduleStartDate"/>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import moment from 'moment';
import _ from 'lodash';
import axios from 'axios';
import ScheduleTable from './ScheduleTable.vue';

export default {
  name: 'Schedule',
  components: {
    ScheduleTable,
  },
  props: {
    scheduleStartDate: String,
  },
  data() {
    return {
      startMonth: null,
      month: null,
      monthOptions: [],
      year: null,
      yearOptions: [],
      daysInMonth: {
        Jan: 31,
        Feb: 28,
        Mar: 31,
        Apr: 30,
        May: 31,
        Jun: 30,
        Jul: 31,
        Aug: 31,
        Sep: 30,
        Oct: 31,
        Nov: 30,
        Dec: 31,
      },
      monthNum: {
        Jan: '01',
        Feb: '02',
        Mar: '03',
        Apr: '04',
        May: '05',
        Jun: '06',
        Jul: '07',
        Aug: '08',
        Sep: '09',
        Oct: '10',
        Nov: '11',
        Dec: '12',
      },
      timetables: [],
      groups: [],
      groupsByType: [],
      keys: [],
    };
  },
  created() {
    axios.get(
      '/integra/tecnico/escala-trabalho/ajax',
    ).then((response) => {
      this.timetables = response.data.escalas.map(escala => ({
	      key: escala.type,
	      value: escala.encoded_str,
      }));

      this.groups = response.data.grupos.map(grupo => ({
        id: grupo.id,
        name: grupo.nome,
        type: grupo.setor,
        workers: grupo.tecnicos.map((tecnico) => {
          const key = (!tecnico.escala) ? null : tecnico.escala.type;
          return {
            key,
            name: tecnico.nome,
            holidays: tecnico.feriados,
            vacations: tecnico.ferias,
            daysOff: tecnico.folgas,
            extra: tecnico.extra
          };
        }),
      }));

      // this.holidays = _

      this.groupsByType = _.groupBy(this.groups, 'type');

      this.keys = response.data.escalas.filter(
	      escala => escala.type !== 'PADRÃO' && escala.type !== 'PADRÃO2' && escala.type !== 'PADRÃO3',
      ).map(
	      escala => escala.type,
      );

      const options = [
        { value: 'Jan', text: 'Janeiro' },
        { value: 'Feb', text: 'Fevereiro' },
        { value: 'Mar', text: 'Março' },
        { value: 'Apr', text: 'Abril' },
        { value: 'May', text: 'Maio' },
        { value: 'Jun', text: 'Junho' },
        { value: 'Jul', text: 'Julho' },
        { value: 'Aug', text: 'Agosto' },
        { value: 'Sep', text: 'Setembro' },
        { value: 'Oct', text: 'Outubro' },
        { value: 'Nov', text: 'Novembro' },
        { value: 'Dec', text: 'Dezembro' },
      ];

      const startIndex = moment(this.scheduleStartDate).month();

      for (let i = 0; i < options.length; i += 1) {
	      this.monthOptions.push(options[(startIndex + i) % options.length]);
      }

      this.month = this.monthOptions[0].value;
      this.startMonth = this.monthOptions[0].value;

      for (let i = 0; i < 1; i += 1) {
	      this.yearOptions.push({
	        value: 2019 + i,
	        text: `${this.monthOptions[0].text} ${2019 + i} - ${this.monthOptions[11].text} ${2019 + 1 + i}`,
	      });
      }

      this.year = this.yearOptions[0].value;

      const today = moment();
      for (const month of this.monthOptions) {
        const start = moment(this.getMonthStart(month.value));
        const end = moment(this.getMonthEnd(month.value));

        if (today.isBetween(start, end)) {
          this.month = month.value;
          break;
        }
      }
    });
  },
  methods: {
    getMonthStart(month) {
      const monthStart = `${this.actualYear(month)}-${this.monthNum[month]}-25`;
      return monthStart;
    },
    getMonthEnd(month) {
      let monthEnd = null;
      if (this.monthAfter === 'Sep') {
	      monthEnd = `${this.year + 1}-${this.monthNum[this.getMonthAfter(month)]}-24`;
      } else {
	      monthEnd = `${this.actualYear(this.getMonthAfter(month))}-${this.monthNum[this.getMonthAfter(month)]}-24`;
      }
      return monthEnd;
    },
    getMonthAfter(month) {
      const months = {
        Jan: 'Feb',
        Feb: 'Mar',
        Mar: 'Apr',
        Apr: 'May',
        May: 'Jun',
        Jun: 'Jul',
        Jul: 'Aug',
        Aug: 'Sep',
        Sep: 'Oct',
        Oct: 'Nov',
        Nov: 'Dec',
        Dec: 'Jan',
      };

      return months[month];
    },
    actualYear(month) {
      const thisYear = this.year;
      const nextYear = thisYear + 1;
      const keys = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      const years = {};
      let looped = false;
      const startIndex = moment(this.scheduleStartDate).month();

      for (let i = 0; i < keys.length; i += 1) {
        if (((startIndex + i) % keys.length) == 0) {
          looped = true;
        }

        if (looped) {
          years[keys[(startIndex + i) % keys.length]] = nextYear;
        } else {
          years[keys[(startIndex + i) % keys.length]] = thisYear;
        }
      }

      return years[month];
    },
    daysOfWeek() {
      const days = ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'];
      const dateStr = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
      const startDate = moment(dateStr);
      let iterations = 0;
      if (this.month === 'Feb' && moment([this.actualYear(this.month)]).isLeapYear()) {
      	iterations = 29;
      } else {
	      iterations = this.daysInMonth[this.month];
      }
      const val = [];
      let startIndex = startDate.day();

      for (let index = 0; index < iterations; index += 1) {
        if (startIndex >= days.length) {
          startIndex = 0;
        }
        val.push(days[startIndex]);
        startIndex += 1;
      }

      return val;
    },
    timetableForMonth(key, iter) {
      if (key === 'PADRÃO') return 'PADRÃO';
      if (key === 'PADRÃO2') return 'PADRÃO2';
      if (key === 'PADRÃO3') return 'PADRÃO3';
      let index = _.findIndex(this.keys, x => x === key) + 1;
      let k = key;
      for (let i = 0; i < iter; i += 1) {
        if (index >= this.keys.length) index = 0;
        k = this.keys[index];
        index += 1;
      }
      return k;
    },
    nextKeyInCycle(key) {
      if (key === 'PADRÃO') return 'PADRÃO';
      if (key === 'PADRÃO2') return 'PADRÃO3';
      if (key === 'PADRÃO3') return 'PADRÃO2';
      const keyIndex = _.findIndex(this.keys, x => x == key);

      if ((keyIndex + 1) === this.keys.length) return this.keys[0];
      return this.keys[keyIndex + 1];
    },
  },
  computed: {
    currentDaysInMonth() {
      return this.daysInMonth[this.month];
    },
    scheduleChanges() {
      const dateStr = this.scheduleStartDate;
      const yearStartStr = `${this.year}-${this.monthNum[this.startMonth]}-25`;
      const yearEndStr = `${this.year + 1}-${this.monthNum[this.startMonth]}-24`;
      const date = moment(dateStr, moment.ISO_8601);
      const dates = [];

      for (let index = 0; index < (10 * this.yearOptions.length); index += 1) {
	      dates.push(date.add(5, 'w').format());
      }

      return dates.filter((timestamp) => {
	      const d = moment(timestamp, moment.ISO_8601);
	      return d.isBetween(yearStartStr, yearEndStr);
      });
    },
    isScheduleChangeThisMonth() {
      const monthStart = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
      let monthEnd = null;
      if (this.month === 'Sep') {
	      monthEnd = `${this.year + 1}-${this.monthNum[this.monthAfter]}-24`;
      } else {
	      monthEnd = `${this.actualYear(this.monthAfter)}-${this.monthNum[this.monthAfter]}-24`;
      }

      const pass = _.some(this.scheduleChanges, (x) => {
        const d = moment(x, moment.ISO_8601);
        return d.isBetween(monthStart, monthEnd, null, '[]');
      });

      return pass;
    },
    scheduleChangeIndex() {
      const monthStart = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
      let monthEnd = null;
      if (this.monthAfter === this.startMonth) {
	      monthEnd = `${this.year + 1}-${this.monthNum[this.monthAfter]}-24`;
      } else {
	      monthEnd = `${this.actualYear(this.monthAfter)}-${this.monthNum[this.monthAfter]}-24`;
      }

      const index = _.findIndex(this.scheduleChanges, (x) => {
        const d = moment(x, moment.ISO_8601);
        return d.isBetween(monthStart, monthEnd, null, '[]');
      });

      return index;
    },
    daysUntilNextScheduleChange() {
      if (this.scheduleChangeIndex === -1 && this.timetableIterations === 0) {
        const monthStartStr = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
        const monthStart = moment(monthStartStr);
        const changeDate = moment(this.scheduleChanges[this.timetableIterations]);
        const diff = moment.duration(changeDate.diff(monthStart)).asDays();
        return diff;
      } if (this.scheduleChangeIndex === -1 && this.timetableIterations > 0) {
      	const monthStartStr = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
        const monthStart = moment(monthStartStr);
        const changeDate = moment(this.scheduleChanges[this.timetableIterations]);
        const diff = moment.duration(changeDate.diff(monthStart)).asDays();
        return diff;
      }

      const monthStartStr = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
      const monthStart = moment(monthStartStr);
      const changeDate = moment(this.scheduleChanges[this.scheduleChangeIndex]);
      const diff = moment.duration(changeDate.diff(monthStart)).asDays();
      return diff;
    },
    daysSinceLastScheduleChange() {
      if (this.scheduleChangeIndex === -1 && this.timetableIterations > 0) {
        let monthEndStr = null;
        if (this.monthAfter === this.startMonth) {
          monthEndStr = `${this.year + 1}-${this.monthNum[this.monthAfter]}-24`;
        } else {
          monthEndStr = `${this.actualYear(this.monthAfter)}-${this.monthNum[this.monthAfter]}-24`;
        }

        const monthEnd = moment(monthEndStr);
        const changeDate = moment(this.scheduleChanges[this.timetableIterations - 1]);
        const diff = moment.duration(monthEnd.diff(changeDate)).asDays();
        return diff;
      } if (this.scheduleChangeIndex === -1) {
	      return 0;
      }

      let monthEndStr = null;
      if (this.monthAfter === this.startMonth) {
	      monthEndStr = `${this.year + 1}-${this.monthNum[this.monthAfter]}-24`;
      } else {
	      monthEndStr = `${this.actualYear(this.monthAfter)}-${this.monthNum[this.monthAfter]}-24`;
      }

      const monthEnd = moment(monthEndStr);
      const changeDate = moment(this.scheduleChanges[this.scheduleChangeIndex]);

      return moment.duration(monthEnd.diff(changeDate)).asDays();
    },
    timetableIterations() {
      const monthStartStr = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
      const monthStart = moment(monthStartStr);
      let iter = 0;
      for (let index = 0; index < this.scheduleChanges.length; index += 1) {
        const date = moment(this.scheduleChanges[index]);
        if (date.isBefore(monthStart)) iter += 1;
      }

      return iter;
    },
    currentTimeTableKeys() {
      return _.map(this.groups, g => _.map(g.workers, (w) => {
        const iter = this.timetableIterations;
        return {
          name: w.name,
          key: w.key,
          iter,
          current_key: this.timetableForMonth(w.key, iter),
        };
	      }));
    },
    monthAfter() {
      const months = {
        Jan: 'Feb',
        Feb: 'Mar',
        Mar: 'Apr',
        Apr: 'May',
        May: 'Jun',
        Jun: 'Jul',
        Jul: 'Aug',
        Aug: 'Sep',
        Sep: 'Oct',
        Oct: 'Nov',
        Nov: 'Dec',
        Dec: 'Jan',
      };

      return months[this.month];
    },
    monthStart() {
      const monthStart = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
      return monthStart;
    },
    monthEnd() {
      let monthEnd = null;
      if (this.monthAfter === 'Sep') {
	      monthEnd = `${this.year + 1}-${this.monthNum[this.monthAfter]}-24`;
      } else {
	      monthEnd = `${this.actualYear(this.monthAfter)}-${this.monthNum[this.monthAfter]}-24`;
      }
      return monthEnd;
    },
    modifiedTimetables() {
      let tts = null;

      tts = _.map(this.currentTimeTableKeys, (keys, i) => _.map(keys, (x) => {
        if (x.key == null) {
          return {
            worker: _.find(this.groups[i].workers, { name: x.name }),
            timetable: '4'.repeat(this.daysInMonth[this.month]),
          };
        }

        if (this.scheduleChangeIndex === -1) {
          const worker = _.find(this.groups[i].workers, { name: x.name });
          const offset = 35 - this.daysUntilNextScheduleChange;
          const days = this.daysInMonth[this.month];
          const str = _.find(this.timetables, { key: x.current_key }).value;
          let tt = str.slice(offset, days + offset);

          if (worker.holidays.length > 0) {
            for (const holiday in worker.holidays) {
              const day = moment(worker.holidays[holiday].dia);
              if (day.isBetween(this.monthStart, this.monthEnd, null, '[]')) {
                const index = moment.duration(day.diff(moment(this.monthStart))).days();
                tt = `${tt.substr(0, index)}2${tt.substr(index + 1)}`;
              }
            }
          }

          if (worker.vacations.length > 0) {
            for (const vacation in worker.vacations) {
              const v = worker.vacations[vacation];
              const vStart = moment(v.start);
              const vEnd = moment(v.finish);
              const isStartBetween = vStart.isBetween(this.monthStart, this.monthEnd);
              const isEndBetween = vEnd.isBetween(this.monthStart, this.monthEnd);

              if (isStartBetween && !isEndBetween) {
                const index = moment.duration(vStart.diff(moment(this.monthStart))).days();
                tt = tt.split('').fill('3', index).join('');
              }

              if (!isStartBetween && isEndBetween) {
                const index = moment.duration(vEnd.diff(moment(this.monthStart))).days();
                tt = tt.split('').fill('3', 0, index).join('');
              }

              if (isStartBetween && isEndBetween) {
                const vs = moment.duration(vStart.diff(moment(this.monthStart))).days();
                const ve = moment.duration(vEnd.diff(moment(this.monthStart))).days();
                tt = tt.split('').fill('3', vs, ve).join('');
              }
            }
          }

          if (worker.daysOff.length > 0) {
            for (const day in worker.daysOff) {
              const d = worker.daysOff[day];
              const off = moment(d.dia_folgar);
              const replace = moment(d.dia_repor);

              const isOffBetween = off.isBetween(this.monthStart, this.monthEnd);
              const isReplaceBetween = replace.isBetween(this.monthStart, this.monthEnd);

              if (isOffBetween) {
                const i = moment.duration(off.diff(moment(this.monthStart))).days();
                tt = `${tt.substr(0, i)}0${tt.substr(i+ 1)}`;
              }

              if (isReplaceBetween) {
                const i = moment.duration(replace.diff(moment(this.monthStart))).days();
                tt = `${tt.substr(0, i)}1${tt.substr(i+ 1)}`;
              }
            }
          }

          if (worker.extra.length > 0) {
            for (const ex in worker.extra) {
              const dia_extra = moment(worker.extra[ex].dia_extra);
              console.log(dia_extra);
              if (dia_extra.isBetween(this.monthStart, this.monthEnd, null, '[]')) {
                const index = moment.duration(dia_extra.diff(moment(this.monthStart))).days();
                tt = `${tt.substr(0, index)}5${tt.substr(index + 1)}`;
              }
            }
          }

          return { worker, timetable: tt };
        }

        const worker = _.find(this.groups[i].workers, { name: x.name });
        const offset = 35 - this.daysUntilNextScheduleChange;
        const str = _.find(this.timetables, { key: x.current_key }).value;
        const tt = str.slice(offset, offset + this.daysUntilNextScheduleChange);
        const str2 = _.find(this.timetables, { key: this.nextKeyInCycle(x.current_key) }).value;
        const tt2 = str2.slice(0, (this.daysSinceLastScheduleChange + 1));
        let tt3 = tt.concat(tt2);

        if (worker.holidays.length > 0) {
          for (const holiday in worker.holidays) {
            const day = moment(worker.holidays[holiday].dia);
            if (day.isBetween(this.monthStart, this.monthEnd, null, '[]')) {
              const index = moment.duration(day.diff(moment(this.monthStart))).days();
              tt3 = `${tt3.substr(0, index)}2${tt3.substr(index + 1)}`;
            }
          }
        }

        if (worker.vacations.length > 0) {
          for (const vacation in worker.vacations) {
            const v = worker.vacations[vacation];
            const vStart = moment(v.start);
            const vEnd = moment(v.finish);
            const isStartBetween = vStart.isBetween(this.monthStart, this.monthEnd);
            const isEndBetween = vEnd.isBetween(this.monthStart, this.monthEnd);

            if (isStartBetween && !isEndBetween) {
              const index = moment.duration(vStart.diff(moment(this.monthStart))).days();
              tt3 = tt3.split('').fill('3', index).join('');
            }

            if (!isStartBetween && isEndBetween) {
              const index = moment.duration(vEnd.diff(moment(this.monthStart))).days();
              tt3 = tt3.split('').fill('3', 0, index).join('');
            }

            if (isStartBetween && isEndBetween) {
              const vs = moment.duration(vStart.diff(moment(this.monthStart))).days();
              const ve = moment.duration(vEnd.diff(moment(this.monthStart))).days();
              tt3 = tt3.split('').fill('3', vs, ve).join('');
            }
          }
        }

        if (worker.daysOff.length > 0) {
          for (const day in worker.daysOff) {
            const d = worker.daysOff[day];
            const off = moment(d.dia_folgar);
            const replace = moment(d.dia_repor);

            const isOffBetween = off.isBetween(this.monthStart, this.monthEnd);
            const isReplaceBetween = replace.isBetween(this.monthStart, this.monthEnd);

            if (isOffBetween) {
              const i = moment.duration(off.diff(moment(this.monthStart))).days();
              tt3 = `${tt3.substr(0, i)}0${tt3.substr(i+ 1)}`;
            }

            if (isReplaceBetween) {
              const i = moment.duration(replace.diff(moment(this.monthStart))).days();
              tt3 = `${tt3.substr(0, i)}1${tt3.substr(i+ 1)}`;
            }
          }
        }

        if (worker.extra.length > 0) {
          for (const ex in worker.extra) {
            const dia_extra = moment(worker.extra[ex].dia_extra);
            console.log(dia_extra);
            if (dia_extra.isBetween(this.monthStart, this.monthEnd, null, '[]')) {
              const index = moment.duration(dia_extra.diff(moment(this.monthStart))).days();
              tt3 = `${tt3.substr(0, index)}5${tt3.substr(index + 1)}`;
            }
          }
        }

        return { worker, timetable: tt3 };
      }));

      tts = _.map(tts, tt => tt.sort((x, y) => {
        const a = x.worker.key;
        const b = y.worker.key;

        if (a === 'PADRÃO') {
          return -1;
        }
        if (b === 'PADRÃO') {
          return 1;
        }

        if (a > b) {
          return 1;
        }
        if (a < b) {
          return -1;
        }

        return 0;
      }));

      return tts;
    },
    workersPerDay() {
      return _.map(this.modifiedTimetables, (tt) => {
        const arr = _.map(tt, x => x.timetable.split(''));

        const zipped = _.zip(...arr);

        return _.map(zipped, x => _.reduce(x, (acc, y) => {
          if (y === '1' || y === '2' || y === '5') {
            return acc += 1;
          }
          return acc += 0;
        }, 0));
      });
    },
    workersPerDayForTech() {
      return _.filter(this.workersPerDay, (v, i) => {
        return this.groups[i].type == "1";
      });
    },
    workersPerDayForNOC() {
      return _.filter(this.workersPerDay, (v, i) => {
        return this.groups[i].type == "2";
      });
    },
    workersPerDayForSupervisores() {
      return _.filter(this.workersPerDay, (v, i) => {
        return this.groups[i].type == "3";
      });
    },
    totalWorkersPerDay() {
      const zipped = _.zip(...this.workersPerDayForTech);

      return _.map(zipped, x => _.sum(x));
    },
    modifiedTimetablesForTech() {
      return _.filter(this.modifiedTimetables, (v, i) => {
        return this.groups[i].type == "1";
      });
    },
    modifiedTimetablesForNOC() {
      return _.filter(this.modifiedTimetables, (v, i) => {
        return this.groups[i].type == "2";
      });
    },
    modifiedTimetablesForSupervisor() {
      return _.filter(this.modifiedTimetables, (v, i) => {
        return this.groups[i].type == "3";
      });
    }
  },
};
</script>

<style scoped>

.wide {
  width: 340px;
}

</style>
