<template>
<tr>
  <td>{{ name }}</td>
  <td class="block"
   v-for="(x, i) in blocks"
   :class="getBlockClass(x)"
   v-bind:key="i"></td>
   <td>{{ daysWorked }}</td>
   <td>{{ tableKeyMod }}</td>
</tr>
</template>

<script>
import _ from 'lodash';

export default {
  name: 'ScheduleRow',
  props: {
    name: String,
    encodedString: String,
    tableKey: String,
  },
  data() {
    return {};
  },
  methods: {
    getBlockClass(n) {
      switch (Number(n)) {
        case 0:
          return 'block-red';
        case 1:
          return 'block-green';
        case 2:
          return 'block-orange';
        case 3:
          return 'block-blue';
        case 4:
          return 'block-grey';
        case 5:
          return 'block-light-blue';
        default:
          return 'block-red';
      }
    },
  },
  computed: {
    blocks() {
      return this.encodedString.split('');
    },
    daysWorked() {
      return _.reduce(this.blocks, (acc, x) => {
        if (x === '1' || x === '2' | x === '5') {
          return acc += 1;
        } else {
          return acc += 0;
        }
      }, 0)
    },
    tableKeyMod() {
      switch (this.tableKey) {
        case "PADRÃO":
          return 'P';
        case "PADRÃO2":
          return 'P2';
        case "PADRÃO3":
          return 'P3';
        default:
          return this.tableKey;
      }
    }
  },
};
</script>

<style>
.block {
  width: auto;
  height: 30px;
}

.block-green {
  background-color: #8dc153;
}

.block-orange {
  background-color: #f0ad4e;
}

.block-red {
  background-color: #f04e4e;
}

.block-blue {
  background-color: #000e8f;
}

.block-light-blue {
  background-color: #00ccff;
}

.block-grey {
  background-color: #999
}

.name-column {
  width: 340px;
  overflow: hidden;
}
</style>
