<template>
  <div>
    <h4 class="table-header">{{ groupName }}</h4>
    <table class="table table-bordered table-condensed table-fixed">
      <col span="1" class="wide">
      <tbody>
        <tr>
          <td colspan="1"></td>
          <td v-bind:colspan="daysLeftInMonth"> {{ monthNamesPT[month] }}</td>
          <td colspan="24"> {{ monthNamesPT[monthAfter]}} </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="1"></td>
          <td colspan="1" v-for="n in daysLeftInMonthRange">{{ n }}</td>
          <td colspan="1" v-for="n in 24">{{ n }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="1"></td>
          <td v-for="x in daysOfWeek()">{{ x }}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="1">Operador</td>
        </tr>

        <schedule-row v-for="t in timetables"
        :key="t.worker.name +'_schedule'"
        :name="t.worker.name"
        :encodedString="t.timetable"
        :tableKey="t.worker.key"
        />

        <tr>
          <td colspan="1"></td>
          <td v-for="(w, i) in workersPerDay" :key="i +'_worker_per_day'">{{ w }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import _ from 'lodash';
import moment from 'moment';
import ScheduleRow from './ScheduleRow.vue';

export default {
  name: 'ScheduleTable',
  components: {
    ScheduleRow,
  },
  props: {
    groupName: String,
    year: Number,
    month: String,
    timetables: Array,
    daysInMonth: Number,
    workersPerDay: Array,
    startDate: String,
  },
  data() {
    return {
      monthNum: {
        Jan: '01',
        Feb: '02',
        Mar: '03',
        Apr: '04',
        May: '05',
        Jun: '06',
        Jul: '07',
        Aug: '08',
        Sep: '09',
        Oct: '10',
        Nov: '11',
        Dec: '12',
      },
      monthNamesEN: {
        Jan: 'January',
        Feb: 'Feburary',
        Mar: 'March',
        Apr: 'April',
        May: 'May',
        Jun: 'June',
        Jul: 'July',
        Aug: 'August',
        Sep: 'September',
        Oct: 'October',
        Nov: 'November',
        Dec: 'December',
      },
      monthNamesPT: {
        Jan: 'Janeiro',
        Feb: 'Fevereiro',
        Mar: 'Março',
        Apr: 'Abril',
        May: 'Maio',
        Jun: 'Junho',
        Jul: 'Julho',
        Aug: 'Agosto',
        Sep: 'Septembro',
        Oct: 'Outubro',
        Nov: 'Novembro',
        Dec: 'Dezembro',
      },
      // daysInMonth: {
      //   Jan: 31,
      //   Feb: 28,
      //   Mar: 31,
      //   Apr: 30,
      //   May: 31,
      //   Jun: 30,
      //   Jul: 31,
      //   Aug: 31,
      //   Sep: 30,
      //   Oct: 31,
      //   Nov: 30,
      //   Dec: 31,
      // },
    };
  },
  methods: {
    actualYear(month) {
      const thisYear = this.year; 
      const nextYear = thisYear + 1;
      const keys = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
      let years = {};
      let looped = false;
      let startIndex = moment(this.startDate).month();

      for (let i = 0; i < keys.length; i += 1) {
        if (((startIndex + i) % keys.length) == 0) {
          looped = true;
        }

        if (looped) {
          years[keys[(startIndex + i) % keys.length]] = nextYear;
        } else {
          years[keys[(startIndex + i) % keys.length]] = thisYear;
        }
      }

      return years[month];
    },
    daysOfWeek() {
      const days = ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'];
      const dateStr = `${this.actualYear(this.month)}-${this.monthNum[this.month]}-25`;
      const startDate = moment(dateStr);
      let iterations = this.daysInMonth;

      if (this.month ===  'Feb' && moment([this.actualYear(this.month)]).isLeapYear()) {
        iterations = 29;
      }

      const val = [];
      let startIndex = startDate.day();

      for (let index = 0; index < iterations; index += 1) {
        if (startIndex >= days.length) {
          startIndex = 0;
        }
        val.push(days[startIndex]);
        startIndex += 1;
      }

      return val;
    },
  },
  computed: {
    daysLeftInMonth() {
      if (this.month ===  'Feb' && moment([this.actualYear(this.month)]).isLeapYear()) {
        return 5;
      }
      return this.daysInMonth - 24;
    },
    daysLeftInMonthRange() {
      if (this.month ===  'Feb' && moment([this.actualYear(this.month)]).isLeapYear()) {
        return _.range(25, 30);
      }
      return _.range(25, this.daysInMonth + 1);
    },
    monthAfter() {
      const months = {
        Jan: 'Feb',
        Feb: 'Mar',
        Mar: 'Apr',
        Apr: 'May',
        May: 'Jun',
        Jun: 'Jul',
        Jul: 'Aug',
        Aug: 'Sep',
        Sep: 'Oct',
        Oct: 'Nov',
        Nov: 'Dec',
        Dec: 'Jan',
      };

      return months[this.month];
    },
  },
};
</script>

<style>
td {
  text-align: center;
}

.row {
  margin-bottom: 15px;
}

.table-fixed {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.wide {
  width: 340px;
}

.table-header {
  text-transform: uppercase;
}

</style>
