<template>
  <div>
    <div class="row">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td colspan="7">Semana I</td>
            <td colspan="7">Semana II</td>
            <td colspan="7">Semana III</td>
            <td colspan="7">Semana IV</td>
            <td colspan="7">Semana V</td>
          </tr>
          <tr>
            <td v-for="n in 35" v-bind:key="n">{{ n }}</td>
          </tr>
          <tr>
            <td v-for="n in 35" v-bind:key="n">{{ dayOfWeek(n - 1) }}</td>
          </tr>
          <tr>
            <td class="block"
            v-for="(day, index) in days"
            :class="getBlockClass(day)"
            v-bind:key="index"
            @click="changeBlockState(index)"></td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button class="btn btn-primary" @click="createTimeTable()">Criar Escala</button>
      </div>
    </div>
    <div class="row">
      <div class="alert alert-danger" v-for="(error, i) in err" v-bind:key="i">{{error}}</div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';

export default {
  name: 'TimeTableForm',
  data() {
    return {
      days: [0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
             0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0],
      blockState: ['folga', 'trabalho', 'feriado', 'ferias'],
      err: [],
    };
  },
  methods: {
    dayOfWeek(n) {
      const days = ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'];
      return days[(n % 7)];
    },
    changeBlockState(n) {
      switch (this.days[n]) {
        case 0:
          this.days.splice(n, 1, 1);
          break;
        case 1:
          this.days.splice(n, 1, 0);
          break;
        default:
          this.days.splice(n, 1, 0);
      }
    },
    getBlockState(n) {
      return this.blockState[n];
    },
    getBlockClass(n) {
      switch (n) {
        case 0:
          return 'block-red';
        case 1:
          return 'block-green';
        case 2:
          return 'block-orange';
        case 3:
          return 'block-blue';
        default:
          return 'block-red';
      }
    },
    splitDaysByType() {
      const arr = [];
      let last = null;
      let i = 0;

      for (const day of this.days) {
        if (last === day) {
          arr[arr.length - 1][this.getBlockState(last)].push(i + 1);
          i += 1;
          continue;
        }

        const index = arr.length;
        arr[index] = {};
        arr[index][this.getBlockState(day)] = [];
        arr[index][this.getBlockState(day)].push(i + 1);

        last = day;
        i += 1;
      }

      return arr;
    },
    chunkByWeek() {
      return _.chunk(this.days, 7);
    },
    checkTimeTable() {
      this.err = [];
      const daysByType = this.splitDaysByType();
      const daysByWeek = this.chunkByWeek();
      const cond = this.checkWorkDays(daysByType);
      const cond2 = this.checkDaysOff(daysByType);
      const cond3 = this.checkDaysOffByWeek(daysByWeek);
      const cond4 = this.checkWeekends();
      if (cond && cond2 && cond3 && cond4) {
        console.log(this.days.join(''));
      }
    },
    checkWorkDays(arr) {
      const workDays = arr.filter(obj => Object.prototype.hasOwnProperty.call(obj, 'trabalho'));
      const pass = workDays.every(day => day.trabalho.length < 7);
      if (!pass) this.err.push('Não pode haver 7 ou mais dias de trabalho seguidas.');
      return pass;
    },
    checkDaysOff(arr) {
      const daysOff = arr.filter(obj => Object.prototype.hasOwnProperty.call(obj, 'folga'));
      const pass = daysOff.every(day => day.folga.length < 3);
      if (!pass) this.err.push('Não pode haver 3 ou mais dias de folga seguidas.');
      return pass;
    },
    checkDaysOffByWeek(arr) {
      const bools = [];
      for (const val of arr) {
        const n = val.reduce((total, x) => (x === 0 ? total + 1 : total), 0);
        bools.push((n === 2));
      }
      const pass = bools.every(val => val === true);
      if (!pass) this.err.push('A escala precisa ter duas folgas por semana.');
      return pass;
    },
    checkWeekends() {
      let n = 0;
      const arr = this.days;
      if (arr[6] === 0 && arr[7] === 0) {
        n += 1;
      }

      if (arr[13] === 0 && arr[14] === 0) {
        n += 1;
      }

      if (arr[20] === 0 && arr[21] === 0) {
        n += 1;
      }

      if (arr[27] === 0 && arr[28] === 0) {
        n += 1;
      }

      const pass = n >= 2;

      if (!pass) this.err.push('A escala precisa ter no mínimo dois fins de semana.');
      return pass;
    },
    createTimeTable() {
      this.err = [];
      const daysByType = this.splitDaysByType();
      const daysByWeek = this.chunkByWeek();
      const cond = this.checkWorkDays(daysByType);
      const cond2 = this.checkDaysOff(daysByType);
      const cond3 = this.checkDaysOffByWeek(daysByWeek);
      const cond4 = this.checkWeekends();
      if (cond && cond2 && cond3 && cond4) {
        let data = new FormData();
        data.set('encoded_str', this.days.join(''));

        axios({
          method: 'post',
          url: '/integra/tecnico/escala-trabalho/criar', 
          data: data,
          config: { headers: {'Content-Type': 'multipart/form-data'}}
        }).then((response) => {
          window.location = "/integra/tecnico/escala-trabalho/gerenciar";
        })
      }
    }
  },
};
</script>

<style scoped>
.btn {
  margin-right: 5px;
}

.row {
  margin-bottom: 15px;
}

.block {
  height: 30px;
}

.block-green {
  background-color: #8dc153;
}

.block-orange {
  background-color: #f0ad4e;
}

.block-red {
  background-color: #f04e4e;
}

.block-blue {
  background-color: #6a77e7;
}
</style>
