<template>
<div>
  <span class="block"
   v-for="(x, i) in blocks"
   :class="getBlockClass(x)"
   v-bind:key="i">
   {{}}
   </span>
</div>
</template>

<script>
export default {
  name: 'TimeTable',
  props: {
    encodedString: String,
  },
  data() {
    return {};
  },
  methods: {
    getBlockClass(n) {
      switch (Number(n)) {
        case 0:
          return 'block-red';
        case 1:
          return 'block-green';
        case 2:
          return 'block-orange';
        case 3:
          return 'block-blue';
        default:
          return 'block-red';
      }
    },
  },
  computed: {
    blocks() {
      return this.encodedString.split('');
    },
  },
};
</script>

<style scoped>
.block {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #ddd;
}

.block-green {
  background-color: #8dc153;
}

.block-orange {
  background-color: #f0ad4e;
}

.block-red {
  background-color: #f04e4e;
}

.block-blue {
  background-color: #6a77e7;
}
</style>