<template>
  <div id="app">
    <div class="container">
      <Schedule scheduleStartDate="2019-10-20"/>
    </div>
  </div>
</template>

<script>
import TimeTable from './components/TimeTable.vue';
import TimeTableForm from './components/TimeTableForm.vue';
import Schedule from './components/Schedule.vue';

export default {
  name: 'app',
  components: {
    TimeTable,
    TimeTableForm,
    Schedule,
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
